.button {
    font: inherit;
    border: 1px solid #E27D60;
    background: #E27D60;
    color: white;
    padding: 0.25rem 1rem;
    cursor: pointer;
    margin: 0 2vh;
  }
  
  .button:hover,
  .button:active {
    background: #E8A87C;
    border-color: #E8A87C;
  }
  
  .button:focus {
    outline: none;
  }