.buttonContainer{
    /* background-color: blue; */
    margin-top: 5vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lessonContainer{
    height: 15vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: sans-serif;
}